.navbar{
    display:flex;
    flex-direction: row;
    background-color:#020f3d ;
    
    padding:10px 80px;
    justify-content: space-between;
    align-items: center;
    
}

.nav_links{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.nav_links a{
    text-decoration:none;
    padding:10px 5px;
}

.nav_links a:hover{


    transform:scale(1.1,1.1);

}

.active{
    background-color:#000;

}